venv
.venv
**/__pycache__
.**/
!.github/

!.gitignore

node_modules/
package-lock.json
package.json

/piltover/tl/base
/piltover/tl/functions
/piltover/tl/types
/piltover/tl/all.py
/piltover/tl/layer_info.py
/piltover/tl.zip

/coverage.*
/*.coverage

/unknown_errors.txt
.env
.env.sh
/config.*
/data/system_avatars/*
!/data/system_avatars/.gitkeep
